extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Барбершоп «Бородинский»';

block content

	include ../blocks/promo-stats
	include ../blocks/advantages
	include ../blocks/news
	include ../blocks/reviews
	
	
			


		
	
		
		
		
	
					
					
					
	

					
					
	
					
		
					
	
			
				
			
	
