+b('section').advantages

	+e().__wrapper
	
		+e().__items
			
			+e().__item._fast
				+e().__name Быстро
				+e('p') Мы делаем свою работу быстро! Два часа пролетят незаметно и вы — счастливый обладатель стильной стрижки-минутки.
				
			+e().__item._cool
				+e().__name Круто
				+e('p') Забудьте, как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино. Во всяком случае внешне.
				
			+e().__item._pricy
				+e().__name Дорого
				+e('p') Наши мастера — профессионалы своего дела и не могут стоить дёшево. К тому же, разве цена не даёт определённый статус?
			
			+e().__nav
				+e().__nav-item	1				
				+e().__nav-item	2				
				+e().__nav-item	3
