+b('nav').main-nav

	+e('span').__toggle._closed._nojs
	
	+e().__wrapper._closed._nojs
	
	+e('ul').__items
		+e('li').__item._active
			+e('a') Главная
		+e('li').__item
			+e('a')(href="") Наши работы
		+e('li').__item
			+e('a')(href="") Записаться
		+e('li').__item
			+e('a')(href="") Контакты
		+e('li').__item
			+e('a')(href="") HTML Academy
			
	+e().__user-nav
		+e(a)(href="" title="Войти").__user-login Вход
