+b('section').news
	
	+e().__wrapper
	
		+e('h1').__title Новости и акции
		
		+e().__items
				
			+e('article').__item
				+e('a')(href="#") Нам наконец-то завезли Егермейстер! Теперь вы можете пропустить стаканчик во время стрижки.
				+e('time')(datetime="2015-09-29")<b>29</b> сент
			
			+e('article').__item
				+e('a')(href="#") В нашей команде пополнение, Борис «Бритва» Стригунец, обладатель множества титулов и наград пополнил наши стройные ряды. Спешите записаться!
				+e('time')(datetime="2015-09-19")<b>19</b> сент
			
			+e('article').__item
				+e('a')(href="#") Всё дорожает, а наши стрижки нет! Как так? Приходите, постригитесь и узнаете, в чём здесь подвох!
				+e('time')(datetime="2015-09-9")<b>9</b> сент
