+b('footer').page-footer
	
	+e().__wrapper
	
		+e().__contacts
			+e('strong') Барбершоп «Бородинский»
			| г. Санкт-Петербург, ул. Большая Конюшенная 19/8
			+e('a')(href="tel:+78125556666")
				+e('span').__contacts-hidden Тел.:
				| +7 (812) 555-66-66
				
		+e().__social
			+e().__social-title Давайте дружить
			+b().social-links
				+e('a')(href="https://vk.com/htmlacademy").__item._vk Мы в Вконтакте
				+e('a')(href="https://www.facebook.com/htmlacademy").__item._fb Мы в Фейсбуке
				+e('a')(href="https://www.facebook.com/htmlacademy").__item._inst Мы в Инстаграме
				
		+e().__copyright
			+e().__copyright-title Разработано:
			+e('a')(href="https://htmlacademy.ru/intensive/adaptive").__copyright-link HTML Academy
