+b('section').promo-stats
	
	+e('header').__header
		+e().__slogan Стрижка у нас<br>это выгодно!
		+e('p').__intro Мужская стрижка требует точного подхода. Обратимся к статистике:
		+e('small').__legend._top <sup>*</sup> — приведённые данные ложь
		
	+e('table').__table
		+e('tr') 
			+e('td').__value 1 500<sup>*</sup>
			+e('td').__field рублей<br>вложений
		+e('tr') 
			+e('td').__value 7 200
			+e('td').__field секунд<br>времени мастера
		+e('tr') 
			+e('td').__value 90 000
			+e('td').__field постриженных<br>волос
		+e('tr') 
			+e('td').__value 500 000<sup>*</sup>
			+e('td').__field лайков<br>и комплиментов
	
	+e('small').__legend._bottom <sup>*</sup> — приведённые данные ложь
