+b('section').reviews

	+e().__wrapper
	
		+e('h1').__title Отзывы о нас
		
		+e('a')(href="").__write Оставить свой
		
		+e().__items
		
			+e('blockquote').__item._active
				+e().__author-photo
					img(src="/images/pic-travis.jpg", alt="Фото Тревиса Баркера")
				+e('cite').__author-name Тревис Баркер
				+e('p') Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!
		
			+e('blockquote').__item
				+e().__author-photo
					img(src="/images/pic-travis.jpg", alt="Фото Джона Смита")
				+e('cite').__author-name Джон Смит
				+e('p') Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!
		
			+e('blockquote').__item
				+e().__author-photo
					img(src="/images/pic-travis.jpg", alt="Фото Ивана Бородайло")
				+e('cite').__author-name Иван Бородайло
				+e('p') В Бородинском ваша борода в надёжных руках!
				
			+e('button')(type="button").__toggle._prev Предыдущий отзыв
			+e('button')(type="button").__toggle._prev Следующий отзыв
			
			+e().__nav
				+e().__nav-item 1
				+e().__nav-item 2
				+e().__nav-item 3
